<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.administrator.cnmar">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 文件的读写操作 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_OWNER_DATA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyTheme"
        tools:replace="Android:icon, android:theme">
        <activity
            android:name="com.example.administrator.cnmar.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.administrator.cnmar.activity.MainActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.example.administrator.cnmar.activity.MaterialStockActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.administrator.cnmar.activity.MaterialStockDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="zxing.activity.CaptureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.administrator.cnmar.activity.MaterialOutOrderDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.administrator.cnmar.activity.MaterialCheckStockManageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.administrator.cnmar.activity.MaterialCheckStockDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.administrator.cnmar.activity.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppWelcomeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.administrator.cnmar.activity.ProductStockActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.administrator.cnmar.activity.ProductStockDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.administrator.cnmar.activity.ProductCheckStockManageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.administrator.cnmar.activity.ProductCheckStockDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.administrator.cnmar.activity.PlanManageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.administrator.cnmar.activity.ProductionPlanDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.administrator.cnmar.activity.DeliveryPlanDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.administrator.cnmar.activity.ProductInOrderDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.administrator.cnmar.activity.ProductOutOrderDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.administrator.cnmar.activity.QualityControlActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.administrator.cnmar.activity.MaterialQualityControlDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.administrator.cnmar.activity.ReceiveMaterialOrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.administrator.cnmar.activity.SupplyManageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.administrator.cnmar.activity.SupplyManageDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.administrator.cnmar.activity.CompanyManageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.administrator.cnmar.activity.QRCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar.MinWidth" />
        <activity
            android:name="com.example.administrator.cnmar.activity.CompanyInfoDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.administrator.cnmar.activity.ProductDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.administrator.cnmar.activity.HalfProductStockActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.administrator.cnmar.activity.HalfProductStockDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.administrator.cnmar.activity.HalfProductInOrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.administrator.cnmar.activity.HalfProductOutOrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.administrator.cnmar.activity.HalfProductCheckStockDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.administrator.cnmar.activity.HalfProductCheckStockManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.administrator.cnmar.activity.SystemManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.administrator.cnmar.activity.SystemUserDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.administrator.cnmar.activity.ReportManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.administrator.cnmar.activity.MaterialInOrderDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity android:name=".activity.ProductQualityControlDetailActivity"
            android:screenOrientation="portrait"
            ></activity>
    </application>

</manifest>